html{
    font-size: 22px;
    font-family: sans-serif;
    color: green;
    padding: 10px 100px;
} 
body{
    background-color: white;
    color: black;
   
}

table, th, td,tr {
    border: 1px solid white;
  }


   